<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<div>
    <span th:insert="~{menu :: menu}"></span>
    <h1>Add new item</h1>
    <form action="#" th:action="@{/items/category/add}" th:object="${newCategory}" method="post">
        <p>Name: <input type="text" th:field="*{name}"/><span
                                                              th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </p>

        <p><input type="submit" value="Add"/></p>
    </form>
</div>
<span th:insert="~{menu :: footer}"></span>
</body>
</html>