<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/items/add}" th:object="${item}" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="price">Price:</label>
    <input type="text" name="price" id="price">
    <br>
    <label for="category">Category:</label>
    <select id="category" name="category">
        <option th:each="cat : ${categories}" th:value="${cat.name}" th:text="${cat.name}"/>
    </select>
    <br>
    <input type="submit" value="Add Item">
</form>
</body>
</html>