<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<div>
<p th:utext="#{home.welcome}">Welcome to our grocery store!</p>
<a th:href="@{/items/}" th:text="#{menu.print_all.msg}">Print items</a>
<a th:href="@{/items/1}" th:text="#{menu.print_one.msg}">Print the first item</a>
<h1 th:text="#{welcome}">Hello</h1>
<form th:action="@{/items/add}" method="post">
    <input type="submit" value="Add"/>
</form>
<a th:href="@{/cart}" th:text="#{menu.print_one.msg}">Show cart</a>
</div>









</body>
</html>