<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    
</head>
<body>
<h1 th:text="|Items in store|"></h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    <tr th:each="item, iter : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.category.name}"></td>
        <td>
            <form action="#" th:action="@{'/items/{id}'(id=${iter.index})}" th:method="delete">
                <button type="submit">Delete</button>
            </form>
        </td>
</table>

<!--<ul>-->
<!--    <li th:each="item, iter : ${items}" style="display: flex; align-items: center">-->
<!--        <div style="margin-right: 10px">-->
<!--            <span th:text="${iter.index}"></span>-->
<!--            <span th:text="${item.name}"></span>-->
<!--            <span th:text="${item.price}"></span>-->
<!--            <span th:text="${item.category.name}"></span>-->
<!--        </div>-->

<!--    </li>-->
<!--</ul>-->


<br/>
<a th:href="@{/items/new}">Add new item</a>


</body>
</html>