<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<!--form to add item-->
<h1>Add new Item</h1>

<form action="#" th:action="@{/items/new}" th:object="${item}" method="post">
    <label for="name">Name:</label>
    <br>
    <input type="text" name="name" id="name" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br>
    <label for="price">Price:</label>
    <br>
    <input type="number" name="price" id="price" placeholder="0" value="0.0">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

    <br>
    <label for="category">Category:</label>
    <br>
    <select name="category" id="category">
        <option th:each="category:${categories}" th:value="${category.name}" th:text="${category.name}"/>
    </select>
    <br>
    <input type="submit" value="Add Item">
</form>
</body>
</html>